@import '~style/helpers';

.profile {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.controlButtonsContainer {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
	margin-top: 50px;
}
